In [44]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [45]:
model=load_model("model.h5")

with open("one_hot_encoder_geo.pkl","rb") as file:
    geo_encoder=pickle.load(file)

with open("gender_encoder.pkl","rb") as file:
    gender_encoder=pickle.load(file)

with open("scaler.pkl","rb") as file:
    scalar=pickle.load(file)

In [46]:
print(type(geo_encoder))

<class 'sklearn.preprocessing._encoders.OneHotEncoder'>

In [47]:
input_data={
    "CreditScore":600,
    "Geography":"France",
    "Gender":"Male",
    "Age":40,
    "Tenure":3,
    "Balance":60000,
    "NumOfProducts":2,
    "HasCrCard":1,
    "IsActiveMember":1,
    "EstimatedSalary":50000
    }

In [48]:
geo_encoded=geo_encoder.transform([[input_data["Geography"]]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=geo_encoder.get_feature_names_out(["Geography"]))
geo_encoded_df

c:\Users\saich\OneDrive\Desktop\ANN_churn_project\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [49]:
input_data=pd.DataFrame([input_data])

In [50]:
input_data=pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [51]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [52]:
input_data["Gender"]=gender_encoder.transform(input_data["Gender"])

In [53]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [55]:
input_data=input_data.drop(["Geography"],axis=1)
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [56]:
input_scaled=scalar.transform(input_data)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [58]:
prob=model.predict(input_scaled)

1/1 [==============================] - 0s 14ms/step

In [59]:
if prob>0.5:
    print("He Will Churn")
else:
    print("He Will Not Churn")

He Will Not Churn